{% extends 'bootstrap/base.html' %}

{% block title %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Question Bank</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/insertq">Enter Question</a></li>
      <li><a href="/delete">Remove Question</a></li>
      <li><a href="/qbank">Question Bank</a></li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul>
    {% for category,message in messages %}
      <li class="alert alert-{{category}}">{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block sub_content %}
  {% endblock %}
{% endblock %}
